body {
    background-color: grey;
  
    
}
img {
    border-radius: 10% 10%;
    width: 37%;
    border: 1px solid black;
    float: right;
    padding-right: 10px;
    justify-content: space-around;

}


h1, h2, h3 {
    font-style: normal;
    color: black;
    text-shadow: 2px 2px black; 
    text-align: center;  
}

/* footer {
    display: flex;
    justify-content: first baseline;
} */
p {
    text-align: end,
}