body {
    background-color: grey;
    
}

h1 {
    font-style: normal;
    color: rgb(48, 18, 18);
    text-shadow: 2px 2px black; 
    text-align: center;  
}

h2 {
    font-style: normal;
    color: black;
    text-align: center;   
}

img {
    width: 30%;
    border-radius: 5% 5%;
}
p {
    color: white;
    text-align: center;
}
p {
    color: rgb(48, 18, 18)
}