
article {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;   
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 15px;
}

.collaborations, p {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

p {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    
}

img {
    border: 1px solid white;
    margin: 0 0 20px 0;
    border-radius: 2%;
}

img:hover {
    opacity: 0.5;
}