

/* Footer styling */

.site {
    display: flex;
    min-height: 97.5vh;
    flex-direction: column;
  }
  .site-content {
    flex: 1;
  }

.fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #1DA1F2;
    color: white;
}
.fa-instagram {
    background: #C32AA3;
    color: white;
}
.fa-youtube {
    background: #FF0000;
    color: white;
}



/* Nav Bar Styling */

header {
    background-color: lightblue;
    height: 80px;

}

nav{
    display: flex;
    justify-content: center;
}

.container{
    list-style-type: none;
    width: 900px;
    padding: 30px;

    display: flex;
    justify-content: center;
}

.container > li {
    flex-basis: 25%;
}

.container a{
    color: black;
    text-decoration: none;
    font-size: large;
}