body {
    background-color: grey;
}
h1 {
    font-style: italic;
    text-align: center;
}







img {
    width: 30%;
    display: flex;
    align-content: center;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Nav Bar Styling */

header {
    background-color: lightblue;
    height: 80px;

}

nav{
    display: flex;
    justify-content: center;
}

.container{
    list-style-type: none;
    width: 900px;
    padding: 30px;

    display: flex;
    justify-content: center;
}

.container > li {
    flex-basis: 25%;
}

.container a{
    color: black;
    text-decoration: none;
    font-size: large;
}